* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Esa'; */
}

body {
    overscroll-behavior-y: contain; /* 폰에서 아래로 드래그했을 때 새로고침 방지 */
}

@font-face {
    font-family: 'CherryBomb';
    src: url('@/assets/fonts/CherryBombOne-Regular.ttf');
}

@font-face {
    font-family: 'DNF-Bold';
    src: url('@/assets/fonts/DNFForgedBlade-Bold.ttf');
}

@font-face {
    font-family: 'DNF-Light';
    src: url('@/assets/fonts/DNFForgedBlade-Light.ttf');
}

@font-face {
    font-family: 'DNF-Medium';
    src: url('@/assets/fonts/DNFForgedBlade-Medium.ttf');
}

@font-face {
    font-family: 'Esa';
    src: url('@/assets/fonts/Esamanru-Bold.ttf');
}
