* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: contain; /* 폰에서 아래로 드래그했을 때 새로고침 방지 */
  overflow: hidden;
}

@font-face {
  font-family: 'CherryBomb';
  src: url('@/assets/fonts/CherryBombOne-Regular.ttf');
}

@font-face {
  font-family: 'DNF';
  src: url('@/assets/fonts/DNFBitBitv2.ttf');
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Medium.ttf');
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('@/assets/fonts/Pretendard-Black.otf');
}

@font-face {
  font-family: 'Cookie';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
